@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: system-ui, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .aspect-w-1 {
    position: relative;
    width: 100%;
  }

  .aspect-w-1::before {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .aspect-w-16 {
    position: relative;
    width: 100%;
  }

  .aspect-w-16::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
  }

  .aspect-h-1 > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .aspect-h-9 > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
